<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="MiConexionSql" connectionString="Data Source=SERVIDOR;Initial Catalog=NombreBD;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>
<!--
*  Este es un ejemplo de cómo configurar una cadena de conexión en un archivo App.config
* para una aplicación .NET que se conecta a una base de datos SQL Server.
*/
using System.Configuration;
using System.Data.SqlClient;

string cadenaConexion = ConfigurationManager.ConnectionStrings["MiConexionSql"].ConnectionString;
using (SqlConnection conexion = new SqlConnection(cadenaConexion))
{
    conexion.Open();
    // Aquí puedes ejecutar comandos SQL, consultas, etc.
}
*/
    -->
